html {
  background-color: #1b4965;
  color: whitesmoke;
}
main img {
  width: 150px;
  height: auto;
  margin: 1px;
  border: none;
  padding: 0%;
  background-color: #5fa8d3;
  color: black;
}

aside img {
  width: 200px;
  height: auto;
}
path {
  padding: 0;
}

footer {
  margin-top: 20px;
  padding: 1px;
  border: white;
  border-top: solid 1px;
  text-align: center;
}
