@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #1b4965;
  --secondary-color: #62b6cb;
}
* {
  font-family: "roboto", sans-serif;
  margin: 1rem;
}
body {
  max-width: 980px;
  background-color: var(--secondary-color);
}
.image_container {
  display: flex;
  flex-wrap: wrap;
}
.image_container img{
  height: 150px;
}
footer a {
  text-decoration: none;
}

.hero {
  position: relative;
  width: 100%;
}

p {
  font-size: large;
  padding: 1rem;
  margin: 1rem;
  color: black;
}
h2,
h3 {
  color: var(--primary-color);
  margin: 1rem;
}

h1 {
  position: absolute;
  text-align: center;
  color: white;
  padding: 1rem;
  background-color: black;
  width: 100%;
  opacity: 0.6;
  margin-top: 1rem;
}

article {
  position: absolute;
  margin-top: 14rem;
  text-align: center;
  width: 90%;
  margin-left: 4rem;
}
article img {
  float: right;
  margin: 2rem;
  position: relative;
  z-index: 1000;
}
article p {
  background-color: aliceblue;
  opacity: 0.6;
  text-align: left;
}
.bg_image {
  position: relative;
  display: block;
}
nav {
  background-color: #1b4965;
  font-size: 1.2rem;
  display: flex;
}
nav a {
  display: block;
  color: #5fa8d3;
  text-decoration: none;
  padding: 1rem;
}
nav a:link,
nav a:visited {
  color: #5fa8d3;
}
nav a:hover {
  color: var(--primary-color);
  background-color: #5fa8d3;
}
footer, footer *{
  color: var(--secondary-color);
  background-color:var(--primary-color);
  text-align: center;
  clear: both;
  margin: 2px;
}
