@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #1b4965;
  --secondary-color: #62b6cb;
}
* {
  font-family: "roboto", sans-serif;
  text-align: center;
}
body {
  background-color: var(--secondary-color);
}
#section_1 {
  max-width: 960px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  justify-content: center;
}

.contact {
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card_1,
.card_2 {
  padding-top: 0;
  color: #0a3c5c;
  border: #fff solid 2px;
  border-radius: 10px;
  width: 350px;
  height: 210px;
  margin: 1rem;
}

.card_2,
.card_1 {
  align-content: center;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.card_2 span a,.aside span,
.card_1 span a {
  background-color: transparent;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  border: #fff solid 1px;
}
.top_para {
  grid-column: 1/5;
}
#parag {
  grid-column: 3/4;
}
.employee_container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  height: 400px;
}
.employee_container h2 {
  grid-column: 1/4;
}
.employee_container figure {
  border: #fff solid 3px;
  border-radius: 15px;
  caption-side: bottom;
  height: 300px;
  width: 250px;
  margin: 5px;
}
.employee_container figure img {
  width: inherit;
  margin: auto auto;
  border-radius: 15px;
}
.employee {
  grid-column: 1/2;
  margin: 1rem;
  height: 400px;
  width: 300px;
  align-content: center;
  padding: 2px;
}
.employee p {
  background-color: transparent;
  color: white;
  opacity: 1;
  text-align: right;
}
.sandra {
  grid-column: 2/3;
  height: 400px;
}
.map_section {
  display: grid;
  grid-template-columns: 2fr 4fr;
  align-content: center;
  align-items: center;
  padding: 5px;
}
.map_section aside {
  grid-column: 1/2;
}
aside * {
  text-align: left;
  border: none;
}
.map_section h2 {
  grid-column: 1/2;
}
.map_area {
  grid-column: 2/3;
  margin: 1rem;
  width: 98%;
  height: 400px;
  border: #0a3c5c solid 1px;
}

#section_1 h2 {
  grid-column: 1/4;
}
#section_1 img {
  grid-column: 2/3;
  grid-row: 2;
  width: 200px;
}
#parag {
  grid-column: 3/4;
}
header,
footer,
main {
  max-width: 960px;
  margin: 0 auto 1rem;
}
main,
main p {
  background-color: var(--primary-color);
  color: white;
}
footer {
  border-top: white solid 1px;
  margin-top: 2rem;
  color: black;
}

.image_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  flex-wrap: wrap;
  max-width: 150px;
}
.image_container_home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  justify-self: center;
}
figure {
  margin:auto 1.2rem;
}
.image_container img {
  max-width: 150px;
  justify-self: center;
}
.image_container_home img {
  max-width: 280px;
  padding:1rem 0;
  }

footer a {
  text-decoration: none;
}
footer span {
  align-self: center;
  grid-column: 3/4;
}
footer p {
  grid-column: 2/3;
}
.hero {
  position: relative;
  width: 100%;
  padding-bottom: 1rem;
}
span img {
  background-color: #fff;
  padding: 2px;
  border-radius: 50%;
}
.phone img {
  position: absolute;
  background-color: transparent;
}
span i {
  margin-left: 25px;
}
.section_3 article {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 2fr;
  border-top: white solid 1px;
  border-bottom: white solid 1px;
  padding-top: 1rem;
  margin: 1rem auto;
}

p {
  font-size: large;
  padding: 1rem;
  margin: 1rem;
  color: black;
}
h2,
h3,
h4 {
  margin: 1rem;
  text-align: center;
}

h1 {
  position: absolute;
  text-align: center;
  color: white;
  padding: 1rem 0;
  background-color: black;
  width: inherit;
  opacity: 0.6;
  margin-top: 1rem;
}

article {
  position: absolute;
  margin-top: 14rem;
  text-align: center;
  width: 90%;
  margin-left: 4rem;
}
article img {
  float: right;
  margin: 2rem;
  position: relative;
  z-index: 100;
}
article p {
  background-color: aliceblue;
  opacity: 0.7;
  text-align: left;
  color: rgb(14, 12, 12);
}

header {
  display: grid;
  grid-template-columns: 2fr 5fr;
  align-items: center;
  background-color: var(--primary-color); /* #bee9e8; */
}
header img {
  justify-self: right;
  grid-column: 1/2;
}
nav {
  display: flex;
  font-size: 1.2rem;
  justify-self: center;
}
nav a {
  background-color: white;
  border: var(--primary-color) solid 1px;
  margin: 1px;
  display: block;
  text-decoration: none;
  padding: 2px 1rem;
}
nav a:link,
nav a:visited {
  color: var(--primary-color);
}
nav a:hover {
  color: white;
  background-color: #5fa8d3;
}
footer * {
  text-align: center;
  clear: both;
  margin: 2px;
  border: none;
  color: #000;
}

footer {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
.heading {
  background-color: transparent;
  border: none;
  opacity: 1;
  position: relative;
  color: white;
}
form {
  display: grid;
  width: 600px;
  margin: 1rem auto;
  padding: 1rem;
}
form button {
  background-color: transparent;
  height: 2rem;
  border: var(--secondary-color) double 2px;
  border-radius: 5px;
  color: #fff;
}
form input {
  border: #0a3c5c solid 2px;
  border-radius: 5px;
  height: 25px;
  color: #0a3c5c;
  text-align: left;
}
form textarea {
  border: #0a3c5c solid 2px;
  border-radius: 5px;
  height: 60px;
  color: #0a3c5c;
  text-align: left;
}
form label,
form input {
  text-align: left;
}
form span {
  border: none;
  margin: 1rem;
}
.hero_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.hero_container img {
  grid-column: 1/5;
  grid-row: 1/6;
}
.front_button{
  grid-column: 4/5;
  grid-row: 5/6;
  border: #fff solid 2px;
  border-radius: 1cap;
  background-color: transparent;
  margin: 10px;
  font-size: x-large;
  padding: 5px;

}
.hero_container span a{text-decoration: none;color:#fff}

.aside_container{
  padding: 1rem;
  margin: 0 auto;
  display: flex;
}

.aside{
  border: #fff solid 1px;
  width: 50rex;
  padding: 2rem 1rem;
  margin-left: 50rex;
  margin-top: 1.5rem ;
  height: 30rex;
  position:absolute;
  background-color:var(--primary-color);
}
.aside h2,.aside p{
  text-align: left;
  padding: 0;
}
