@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #1b4965;
  --secondary-color: #62b6cb;
}
* {
  font-family: "roboto", sans-serif;
  text-align: center;
}
body {
  background-color: var(--secondary-color);
}
#section_1 {
  max-width: 960px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 2;
  align-items: center;
  justify-content: center;
}

#section_1 h2 {
  grid-column: 1/4;
}
#section_1 img {
  grid-column: 2/3;
  grid-row: 2;
  width: 200px;
}
#parag {
  grid-column: 3/4;
}
.front_image {
  width: ;
}
header,
footer,
main {
  max-width: 960px;
  margin: 0 auto 1rem;

  background-color: var(--secondary-color);
}
footer {
  border-top: white solid 1px;
  margin-top: 2rem;
}

.image_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  flex-wrap: wrap;
}
.image_container img {
  max-width: 150px;
  justify-self: center;
}
footer a {
  text-decoration: none;
}
footer span{
  align-self: center;
  grid-column:3/4
}
footer p{
  grid-column: 2/3;
}
.hero {
  position: relative;
  width: 100%;
}

p {
  font-size: large;
  padding: 1rem;
  margin: 1rem;
  color: black;
}
h2,
h3 {
  margin: 1rem;
  text-align: center;
}

h1 {
  position: absolute;
  text-align: center;
  color: white;
  padding: 1rem 0;
  background-color: black;
  width: inherit;
  opacity: 0.6;
  margin-top: 1rem;
}

article {
  position: absolute;
  margin-top: 14rem;
  text-align: center;
  width: 90%;
  margin-left: 4rem;
}
article img {
  float: right;
  margin: 2rem;
  position: relative;
  z-index: 100;
}
article p {
  background-color: aliceblue;
  opacity: 0.7;
  text-align: left;
  color: rgb(14, 12, 12);
}

header {
  display: grid;
  grid-template-columns: 2fr 5fr;
  align-items: center;
  background-color: var(--primary-color)
;  /* #bee9e8; */
}
header img {
  justify-self: right;
  grid-column: 1/2;
}
nav {
  font-size: 1.2rem;
  display: flex;
  flex-grow: auto;
  justify-self: center;
}
nav a {
  background-color: white;
  border: var(--primary-color) solid 1px;
  margin: 1px;
  display: block;
  text-decoration: none;
  padding: 2px 1rem;
}
nav a:link,
nav a:visited {
  color: var(--primary-color);
}
nav a:hover {
  color: white;
  background-color: #5fa8d3;
}
footer * {
  text-align: center;
  clear: both;
  margin: 2px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
