/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700 */

.caveat-h1> {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: sans-serif;
}
h1 {
  font-weight: lighter;
  border-bottom: #1b4965 solid 1px;
  text-align: center;
}
nav {
  background-color: #1b4965;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav a {
  display: block;
  color: #5fa8d3;
  text-decoration: none;
  padding: 1rem;
}
nav a:link,
nav a:active {
  color: #5fa8d3;
}
nav a:hover {
  color: #1b4965;
  background-color: #5fa8d3;
}
main img {
  width: 150px;
  height: auto;
  margin: 1px;
  border: none;
  padding: 0%;
  background-color: #5fa8d3;
}
aside h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  opacity: .7;
  top: 47px;
  left: 150px;
  color: snow;
  background-color: green;
  padding: 5px;
}
p {
  padding: 0;
  color:#1b4965
}

footer {
  border: white;
  border-top:#1b4965 solid 1px;
  text-align: center;
  color: #1b4965
}

/* Class Selectors */
.box {
  border: 1px solid #1b4965;
  background-color: #5fa8d3;
  color: #1b4965;
}

.profile_pic {
  float: right;
}
header,
footer,
.grid {
  max-width: 840px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto auto;
  align-items: stretch;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
aside {
  width: 20rem;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
  padding: 10px;
}
aside img{
  width: inherit;
}
main {
  grid-column: 2/3;
  margin: 1rem;
}
