/* External CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #5fa8d3;
  color: white;
}
h1 {
  font-family: "roboto", serif;;
}
nav {
  background-color: #5fa8d3;
  font-size: 1.2rem;
  display: flex;
}
nav a {
  display: block;
  color: #5fa8d3;
  text-decoration: none;
  padding: 1rem;
}
nav a:link,
nav a:active {
  color: #5fa8d3;
}
nav a:hover {
  color: #1b4965;
  background-color: #5fa8d3;
}
main {
  max-width: 840px;
}
main img {
  width: 150px;
  height: auto;
  margin: 1px;
  border: none;
  padding: 0%;
  background-color: #5fa8d3;
  color: black;
}

aside {
  width: 20em;
  text-align: center;
  position: relative;
}
aside h2{
  position: absolute;
  top: 47px;
  left: 150px;
  color: black;
}
p {
  padding: 0;
}

footer {
  margin-top: 20px;
  padding: 2%;
  border: white;
  border-top: solid 1px;
  text-align: center;
  background-color: #1b4965;
}

/* Class Selectors */
.box {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #1b4965;
  background-color: #5fa8d3;
  color: var(--accent2-color);
}

.profile_pic{
  float: right;
}